.splashPage {
    background: black;
    height: 100vh;
    text-align: center;
    width: 100vw;
}

.image-map-container {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display:inline-block;
    z-index: 3;
}

.image-map-container img {
    display:block;
    
}
.image-map-container .map-selector {
    left:0;top:0;right:0;bottom:0;
    color:#546E7A00;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, color;
}
.image-map-container .map-selector.hover {
    color:#546E7A80;
}

.map-selector:after {
    content: '';
    position: absolute;
    top: inherit;right: inherit;bottom: inherit;left: inherit;
    background: currentColor;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, background;
    pointer-events: none;
}

.image-map-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* STARS */
.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('../images/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background: url('../images/twinkling.png') repeat top center;
	animation: move-mask-back 400s linear infinite;
	opacity: 80%;
}

.clouds{
	z-index: 2;
    background: url('../images/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
	opacity: 80%;
}

@keyframes move-mask-back {
	from {background-position:0px 0px;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0px 0px;}
	to {background-position:10000px 0px;}
}
